@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* colors */
  --color-black: #000;
  --color-text-primary: #fff;
  --color-text-secondary: #9f9fa0;
  --color-background: #221f1f;
  --color-input: #1d1d1d;
  --color-border: #3e3e41;
  --color-outer-border: #2b2d31;
  --color-key-number: #070707;
  --color-key-operator: #141414;
  --color-key-equal: #463f66;
  --color-key-hover: #434446;

  /* typo */
  --font-family: 'Roboto', sans-serif;
  --font-size-xsmall: 14px;
  --font-size-small: 24px;
  --font-size: 32px;
  --font-size-button: 16px;
  --font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  height: 100%;
  background: var(--color-background);
  font-family: var(--font-family);
}

img {
  max-width: 100%;
}
