.Display {
  display: block;
  margin: 15px 8px 15px auto;
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--color-text-primary);
}

.SmallFont {
  font-size: var(--font-size-small);
  margin-top: 24px;
}
